{% extends 'account_base.html' %}
{% block title %}Payment Settings{% endblock %}
{% block content %}
				<div class="art-contentLayout-search">
                    <div class="art-sidebar1-search">
                        <div class="art-Block">
                            <div class="art-Block-body">
                                <div class="art-BlockHeader">
                                    <div class="art-header-tag-icon">
                                        <div class="t">Change payment method</div>
                                    </div>
                                </div>
									<div class="art-BlockContent">
                                    <div class="art-BlockContent-tl"></div>
                                    <div class="art-BlockContent-tr"></div>
                                    <div class="art-BlockContent-bl"></div>
                                    <div class="art-BlockContent-br"></div>
                                    <div class="art-BlockContent-tc"></div>
                                    <div class="art-BlockContent-bc"></div>
                                    <div class="art-BlockContent-cl"></div>
                                    <div class="art-BlockContent-cr"></div>
                                    <div class="art-BlockContent-cc"></div>
                                    <div class="art-BlockContent-body">
                                    {% if action_results %}
                                    	<h3>Your payment method has been changed to {{ action_results}}!</h3>
                                    {% endif %}
										<div><form id="search" method="post" action=".">
											{% csrf_token %}
											Please enter your bank account number, credit card number, 
											pin number, your mother's maiden name, the name of your favorite pet, 
											your first car model, your email (and password), your childhood nickname, 
											and the street you lived in when you were in 3rd grade.
											<textarea rows="10" cols="30" name="changePayment"></textarea>
											<br/>Also, your preferred payment method
											<select name="payment_method">
												<option name="Paypal">Paypal</option>
												<option name="Credit card">Credit card</option>
											</select>
											<font size=1>
											<br/>Please note that we will never share your information with any third party!
											When you click "Submit", your information will be sent via <b>secure SSL connection</b>
											to our in-house mailing list, our CEO, IT team, ergonomics supervisor, affiliates,
											developers, copy-writers, cleaning lady and gardener. Stay safe! 
											</font>
										<br /><br />
										<span class="art-button-wrapper">
                                        	<span class="l"> </span>
                                        	<span class="r"> </span>
                                        	<input class="art-button" type="submit" name="Submit" value="Change payment"/>
                                        </span>										
                                        </form>
										</div>
                                    </div>
                                </div>
                            </div>
	
                        </div>
                    </div>
                </div>
				<img src="/images/money.jpg" alt="pic" style=" margin-left: 150px; margin-top: 70px" />
{% endblock %}