{% extends 'account_base.html' %}
{% block title %}Buy Searches{% endblock %}
{% block content %}
	<div class="art-contentLayout-search">
		<div class="art-sidebar1-search">
			<div class="art-Block">
				<div class="art-Block-body">
					<div class="art-BlockHeader">
						<div class="art-header-tag-icon">
							<div class="t">Buy more searches</div>
						</div>
					</div>
					<div class="art-BlockContent">
						<div class="art-BlockContent-tl"></div>
						<div class="art-BlockContent-tr"></div>
						<div class="art-BlockContent-bl"></div>
						<div class="art-BlockContent-br"></div>
						<div class="art-BlockContent-tc"></div>
						<div class="art-BlockContent-bc"></div>
						<div class="art-BlockContent-cl"></div>
						<div class="art-BlockContent-cr"></div>
						<div class="art-BlockContent-cc"></div>
						<div class="art-BlockContent-body">
							<div>
								
								<form id="buy" method="post" action="">
									{% csrf_token %}
									{% if action_results  %}
										<h4>Congratulations! You got {{ action_results }} new searches!</h4>
									{% endif %}
									You will be charged using the same payment method as listed below.<br /><br />
									<select name="searches_num">
										<option value="5">5 searches: $50</option>
										<option value="10">10 searches: $90</option>
										<option value="20">20 searches: $170</option>
									</select>
									<br /><br />
									<span class="art-button-wrapper">
										<span class="l"> </span>
										<span class="r"> </span>
										<input class="art-button" type="submit" name="Purchase" value="Purchase"/>
									</span>										
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<img src="/images/key.jpg" alt="pic" style=" margin-left: 150px; margin-top: 70px" />
{% endblock %}