{% extends 'account_base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
<div class="art-sidebar1">
                        <div class="art-Block">
                            <div class="art-Block-body">
                                <div class="art-BlockHeader">
                                </div><div class="art-BlockContent">
                                    <div class="art-BlockContent-tl"></div>
                                    <div class="art-BlockContent-tr"></div>
                                    <div class="art-BlockContent-bl"></div>
                                    <div class="art-BlockContent-br"></div>
                                    <div class="art-BlockContent-tc"></div>
                                    <div class="art-BlockContent-bc"></div>
                                    <div class="art-BlockContent-cl"></div>
                                    <div class="art-BlockContent-cr"></div>
                                    <div class="art-BlockContent-cc"></div>
                                    <div class="art-BlockContent-body">
										<h2>About</h2>
                                    	
                                    	<a class="art-button" onClick="javascript:history.go(-1)">Back</a> <!--This should take us back to the previous area-->
                                    	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-content">
                        <div class="art-Post">
                            <div class="art-Post-body">
                        <div class="art-Post-inner">						
                            <div class="art-PostContent">

								<h3>When many customers discover you on the web, your position in search results can make or break your business. Therefore, it is of outmost importance that your site gets to the top of that list when people search for the kinds of services you provide. <br /> 
								<img src="/images/success.jpg" alt="pic" style="float: right; margin-left: 3px" />
								<br />
								One of the key methods to make that happen is to include in your site all the words people are likely to search for to find your services. However, it's not always obvious which words are appropriate, and even if you think you know what words should appear on your site, there might easily be words that seem unrelated, but for some reason bump up the rank of your site anyway. In short, figuring out all the best words to place in your site is not an easy thing to do. This is where we come in...<br />
								</h3>
								<h4>For a low price we can help you discover all those magic words, obvious and non-obvious, that would make you the top search result in Bing, Microsoft's search engine. Bing is a rapidly growing presence in the search engine world, and yet many businesses, due to lack of foresight, do not optimize for it, making Bing an opportunity for you to grow your audience. If you optimize yourself to the top first, you will enjoy the spotlight way before your competitors!
								</h4>
                            </div>
                            <div class="cleared"></div>
							
                        </div>
                        
                            </div>
                        </div>
                    </div>
{% endblock %}