
{% extends 'account_base.html' %}
{% load url from future %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="art-sidebar1">
                        <div class="art-Block">
                            <div class="art-Block-body">
                                <div class="art-BlockHeader">
                                    <div class="art-header-tag-icon">
                                        <div class="t"><a href="{% url 'login' %}">Back to main page</a></div>
                                    </div>
                                </div><div class="art-BlockContent">
                                    <div class="art-BlockContent-tl"></div>
                                    <div class="art-BlockContent-tr"></div>
                                    <div class="art-BlockContent-bl"></div>
                                    <div class="art-BlockContent-br"></div>
                                    <div class="art-BlockContent-tc"></div>
                                    <div class="art-BlockContent-bc"></div>
                                    <div class="art-BlockContent-cl"></div>
                                    <div class="art-BlockContent-cr"></div>
                                    <div class="art-BlockContent-cc"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-content">
                        <div class="art-Post">
                            <div class="art-Post-body">
                        <div class="art-Post-inner">
                            <h2 class="title">
    Registration almost complete - Check your email!
  </h2>  
  <p>
    A verification email has been sent to you. Please check your email and
    follow the link to activate your profile.    
  </p>
                        </div>
                        
                            </div>
                        </div>
                    </div>
                    
                </div>
{% endblock %}
