{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<div id="content">
  <h2 class="title">Account</h2>
  <div style="float: right">
    <button type="button" class="emphasized" style="float: right" onClick="window.location.href='index.html'">Logout</button>
  </div>
  <form name="purchase" action="foo" method="POST">
    <h3>Buy more searches</h3>
    You will be charged using the same payment method as listed below. <br />
    <select>
      <option value="5">5 searches: $x</option>
      <option value="10">10 searches: $xx</option>
      <option value="20">20 searches: $xxx</option>
    </select>
    <br /><br />
    <input type="submit" value="Purchase" onClick="return areyousure()" />
  </form>
  <form name="changePayment" action="foo" method="POST">
    <h3>Change payment method</h3>
    <textarea style="width:450px">Is there something automagical in Jungo for this?</textarea>
    <br />
    <input type="submit" value="ChangePayment" onClick="return areyousure()" />
  </form>
  <form name="changeDetails" action="foo" method="POST">
    <h3>Change account details</h3>
    If you do not wish to change some of the details, leave those textboxes empty. <br />
    Change email: <input type="text" name="email" /> Old email: blah@blah.com<br />
    Change password: <input type="text" name="newPassword" /> <br />
    Old password: <input type="text" name="oldPassword" /> (for confirmation)
    <br />
    <input type="submit" value="ChangeDetails" onClick="return validate()" />
  </form>
  <form name="Delete" action="foo" method="POST">
    <h3>Delete predefined searches</h3>
    <select>
      <option value="opt1">Site 1</option>
      <option value="opt2">Site 1 special</option>
      <option value="opt3">Site 2</option>
    </select>
    <br />
    Content: <br />
    <textarea name="content">Preview of the selection</textarea><br />
    <input class="emphasized" type="submit" value="Delete" onClick="return areyousure()" />
  </form>
</div>
{% endblock %}