{% extends 'account_base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="art-sidebar1">
                        <div class="art-Block">
                            <div class="art-Block-body">
                                <div class="art-BlockHeader">
                                    <div class="art-header-tag-icon">
                                        <div class="t">Table Of Contents</div>
                                    </div>
                                </div><div class="art-BlockContent">
                                    <div class="art-BlockContent-tl"></div>
                                    <div class="art-BlockContent-tr"></div>
                                    <div class="art-BlockContent-bl"></div>
                                    <div class="art-BlockContent-br"></div>
                                    <div class="art-BlockContent-tc"></div>
                                    <div class="art-BlockContent-bc"></div>
                                    <div class="art-BlockContent-cl"></div>
                                    <div class="art-BlockContent-cr"></div>
                                    <div class="art-BlockContent-cc"></div>
                                    <div class="art-BlockContent-body">
                                    	<h2>Table of contents</h2>
                                    	<ul>
      										<li><a href="#howdoesthisworks">How does this work?</a></li>
      										<li><a href="#termsofservice">What are the terms of service?</a></li>
                                    		<li><a href="#aboutus">Who are you?</a></li>
                                    		<li><a href="#contact">How can I contact you?</a></li>
                                    	</ul>
                                    	<br />
                                    	
                                    	<a class="art-button" onClick="javascript:history.go(-1)">Back</a> <!--This should take us back to the previous area-->
                                    	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-content">
                        <div class="art-Post">
                            <div class="art-Post-body">
                        <div class="art-Post-inner">						
                            <div class="art-PostContent">
								<h2 id="howdoesthisworks">How does this work?</h2>
								<h4>Once you provide us the basic words that describe your business our service uses highly advanced computer algorithms to generate additional words and analyzes search results to discover which words work and which don't, and to generate further keywords. Eventually, the selection of words is given to the user which yielded the best search results for your business. You should provide these words to your website builder to incorporate them accordingly.</h4><br />
								<h2 id="termsofservice">What are the terms of service?</h2>
								<h4>When you sign up for our sirvice, your subscription is yours and yours alone, and you should not give out the login details to anyone else. Doing so may result in an unrefundable termination of service and a blacklisting of your credit card.
									You are free to cancel the subscription at any time you like. Please note that while we make every effort to give you the best results, we still cannot guarantee 100% success due to the unpredictable nature of internet traffic, and therefore cannot provide a refund in cases when a satisfactory result was unattainable. We encourage you to take advantage of the lower cost trial subscription to evaluate whether our results are succesful for you before buying a full subscription. </h4><br />
								<h2 id="aboutus">Who are you?</h2>
								<h4>We are a small startup company from Israel. The company consists of: Eli Kfir, Daniel Lemel, Amir Rachum, Gal Goldman, Nikita Kiryanov, Shahar Meir, Avi Vitner, and Gil Raytan.</h4><br />
								<h2 id="contact">How can I contact you?</h2>
								<h4>You can reach us at customersupport@siteup.com</h4><br />
							</div>
                            <div class="cleared"></div>
							
                        </div>
                        
                            </div>
                        </div>
                    </div>
                    
{% endblock %}