{% extends 'account_base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load extensions %}
{% load multifor %}

<div id="content">
 	<h1 class="title">Past Searches</h1>
	<div id="content">
		{% for i in index_searches reversed; search in existing_searches %}
		<div class="post">
		
			<div class="post_title"><h2>Search #{{ i }} - {{ search.query }} </h2></div>
			<div class="post_date">Posted on {{ search.datetime_created }} by <a href="#">{{ search.user }}</a> | Quality: <b>{{search.type}}</b> | Iterations: <b>{{search.iterations}}</b> </div>
			
			<div class="post_body">
	      	<p>
	      		{% for res in search.getResultList %}
	      		<a href="{{res|link}}">{{res}}</a>
	      		{% endfor %}
	      	</p>
			</div>
			
			<div class="post_meta">
				Google search:
				<a href="{{ search.getGoogleImagesLink }}" target="_blank">Images</a> | 
				<a href="{{ search.getGoogleVideosLink }}" target="_blank">Videos</a> | 
				<a href="{{ search.getGoogleBlogsLink }}" target="_blank">Blogs</a> | 
				<a href="{{ search.getGoogleDiscussionsLink }}" target="_blank">Discussions</a>
			</div>
		
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
